.container-imgl{
    width: 50%;
    align-items: center;
    align-items: center;
}

.containerl {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-containerl {
    max-width: 500px;
}

.image-containerl {
    text-align: center;
    margin-bottom: 20px; /* Cambié mb-3 por 20px para claridad */
}
